// General

html {
  /* Modal scroll */
  scroll-behavior: smooth;
}

.btn, .btn:focus:before {
    border-radius: .3rem !important;
}

.btn-outline-primary {
  color: #009bdd;
  border-color: #009bdd;

  &:hover, &:active {
    color: #037eb3 !important;
    border-color: #037eb3 !important;
  }
}

.btn-primary {

  background-color: #009bdd;
  border-color: #009bdd;

  &:hover, &:active {
    background-color: #037eb3 !important;
    border-color: #037eb3 !important;
  }
}


// Grids

.tab-grid {
  font-size: 0.9em;
  border-radius: 7px;
  color: var(--text-grey);
  
  a {
    text-decoration:none;
  }

  .table th, .table td {
    text-align: center;
    vertical-align: middle !important;
  }

  .table .thead-primary th {
    color: #fff;
    background-color: #3f4a4e;
    border-color:  #3f4a4e;
    padding: 0px;
  }

  &.progress-tab-grid .table tbody tr {
    cursor: pointer;

    &:hover {
      background-color: #dbdfe0a8;
    }

  }

  .table .table-footer {
    background-color: #dbdfe0 !important;
    cursor: text;
  }
}

// Progress detail

.progress-detail {
  dt, dd {
    display: inline-block;
    margin-right: 20px;
    padding-right: 1em;
    vertical-align: top !important;
  }
}